body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#preview {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: black;
}

/* Floating button styles */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none; /* Prevent text selection during drag */
    height: 150px;
    width: 150px;
}

.floating-button:disabled {
    background-color: #ccc;
}

/* Mobile responsive adjustments */
@media only screen and (max-width: 600px) {
    .floating-button {
        font-size: 16px;
        padding: 12px;
    }
}